// Colors
$main-color: #222433;
$secondary-color: #F26C74;
$third-color: #7675FD;
$main-background-color: #F7F3F4;
$secondary-background-color: #FAA881;
$social-link-color: #333333;

// Media queries
$small_mobile: 500px;
$medium_mobile: 600px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1700px;